.myGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px 400px;
  gap: 20px;
  row-gap: 40px;
}

.gridItem {
  border: 2px solid black;
}

.gridItem1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.gridItem4 {
  /*   grid-column: span 2; */
}
