body {
  font-family: "Arial Narrow", sans-serif;
  font-weight: bold;
  margin: 0;
}

button:hover {
  background-color: #0056b3;
}
.top {
  background-image: url(images/bg.webp);
  background-size: cover;
  background-position: center;
  height: 900px;
}

.button1 {
  color: white;
  background-color: rgb(74, 80, 252);
  padding: 10px 20px;
  font-size: large;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  height: 40px;
  display: flex;
  align-items: center;
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.525), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  padding: 20px;
  color: white;
  font-size: 1.5rem;
}

.logo {
  width: 120px;
  height: 90px;
  background-image: url(images/logga.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0;
  /left: 40px;
  z-index: 1000;
  margin-right: 20px;
}

nav {
  font-family: "Arial Narrow", sans-serif;
  font-size: x-large;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  font-weight: bold;
  position: fixed;
  top: 0;
  right: 60px;
  width: auto;
  -webkit-text-stroke: 0.5px rgb(93, 93, 93);
  z-index: 1000;
  padding: 10px 0;
}

nav a {
  text-decoration: none;
  color: white;
  line-height: 40px;
}

.hero {
  font-family: "Arial Narrow", sans-serif;
  font-size: 250%;
  display: grid;
  justify-items: center;
  color: white;

  padding-top: 180px;
}

.hero h1 {
  margin: 0;
  line-height: 1, 2;
  font-weight: 550;
  color: white;
}

.hero h2 {
  font-size: large;
  margin: 4px;
  line-height: 1, 3;
}

@media screen and (max-width: 768px) {
  .hero {
    font-size: large;
    padding-top: 100px;
  }

  .button1 {
    font-size: 1rem;
    padding: 10px 20px;
  }
}
.button2 {
  color: white;
  font-size: large;
  background-color: rgb(84, 89, 255);
  cursor: pointer;
  margin-top: 20px;
  padding: 8px 14px;
  border: none;
  border-radius: 60px;
  text-align: center;
}

.secondHeader {
  display: grid;
  background-color: #ececec;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px 300px;
  gap: 20px;
  row-gap: 40px;
}

.secondHeader h1 {
  font-size: xxx-large;
  font-weight: bolder;
}
.secondHeader h4 {
  font-size: large;
  font-weight: 1;
  line-height: 1.8;
}

.gridItem1 {
  background-image: url(images/elev.webp);
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: 900px;
  border-radius: 5%;
  filter: drop-shadow(3px 4px 8px rgba(0, 0, 0, 0.525))
    drop-shadow(0 6px 20px rgba(0, 0, 0, 0.19));
}

.gridItem2 {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  max-width: 1000px;
  padding: 200px;
}

.button3 {
  color: white;
  font-size: large;
  font-weight: bold;
  background-color: #494949;
  cursor: pointer;
  border-radius: 60px;
  padding: 16px 16px;
}

.button4 {
  color: #494949;
  font-size: large;
  font-weight: bold;
  border: 1px solid rgb(137, 137, 137);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 60px;
  padding: 16px 16px;
  margin: 20px 50px;
}
.button4:hover {
  background-color: #919191;
}
.rekommendationer {
  color: #494949;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #ffffff;
  font-size: xx-large;
  padding-top: 100px;
}

.newItems {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  height: 260px;
  padding: 20px;
  margin-bottom: 101px;
}

.newItem1,
.newItem2,
.newItem3 {
  color: #494949;
  background-image: linear-gradient(rgb(214, 214, 214), rgb(255, 255, 255));
  background-color: rgb(225, 225, 225);
  border-radius: 10%;
  flex: 0 0 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.525), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid rgb(142, 142, 142);
  height: 100%;
}
.newItem1 h2,
.newItem2 h2,
.newItem3 h2 {
  margin-bottom: 10px;
}

.newItem1 p,
.newItem2 p,
.newItem3 p {
  font-weight: 1;
  line-height: 1.4;
  width: 100%;
  text-align: center;
}
.ansok {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/ansok.webp");
  background-size: cover;
  background-position: center;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ansokGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  row-gap: 20px;
  text-align: center;
  padding: 20px;
  max-width: 800px;
  border-radius: 10px;
}

.ansokGrid h1 {
  font-size: 5rem;
  color: white;
}

.ansokGrid h2 {
  font-size: 1.5rem;
  color: white;
}

.ansokGrid button {
  padding: 20px;
  width: 400px;
  font-size: 2rem;
  background-color: #0071eb;
  margin-left: 190px;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.ansokGrid button:hover {
  background-color: #0056b3;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 500px;
  background-color: rgb(196, 223, 234);
}
.footerInfo {
  color: white;
  font-size: x-large;
}
